<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ 'auberge-chaneac-logo.png' | theme_image_url }}">

    <title>Auberge Chaneac - Auberge en Montagne Ardéchoise</title>
    <meta name="description" content="L'auberge Chanéac vous accueille toute l'année au cœur de la montagne ardèchoise, à Sagnes-et-Goudoulet. Hébergement, demi-pension, restauration gastronomique…">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Auberge Chaneac - Auberge en Montagne Ardéchoise" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.auberge-chaneac.fr/" />
    <meta property="og:image" content="https://locomotive-app.s3.eu-west-1.amazonaws.com/sites/5c138caf5373fb000447967e/theme/images/auberge-chaneac-logo.png?1560437618" />
    <meta property="og:description" content="L'auberge Chanéac vous accueille toute l'année au cœur de la montagne ardèchoise, à Sagnes-et-Goudoulet. Hébergement, demi-pension, restauration gastronomique…" />
    <meta property="og:site_name" content="Auberge Chaneac - Auberge en Montagne Ardéchoise" />

    <%= stylesheet_link_tag "site" %>

  </head>
  <body>

    <div id="body-wrap">
      <%= partial "shared/navbar" %>
      <%= yield %>
      <%= partial "shared/footer" %>
    </div>
    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag "site" %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145118886-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-145118886-1');
    </script>

  </body>
</html>
