<!-- Footer -->
<footer class="page-footer pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-4 mt-md-0 mt-3 logo">
        <%= image_tag("auberge-chaneac-logo.png", alt: "auberge Chaneac Logo blanc") %>
      </div>
      <div class="col-md-4 mb-md-0 mb-3">
        <h5 class="text-uppercase">Coordonnées</h5>
        <ul class="list-unstyled">
          <li>
            <a href="tel:04 75 38 80 88">Tél : 04 75 38 80 88</a>
          </li>
          <br>
          <li>
            <span>Jean-François Chanéac</span>
          </li>
          <br>
          <li>
            <span>225 grand rue</span>
          </li>
          <br>
          <li>
            <span>07450 SAGNES ET GOUDOULET</span>
          </li>
        </ul>
      </div>
      <div class="col-md-4 mb-md-0 mb-3">
        <h5 class="text-uppercase">Liens</h5>
        <a target="_blank" href="https://www.goutezlardeche.fr/">
          <%= image_tag("goutez-lardeche-logo.png", alt: "Goutez l'ardèche Logo") %>
        </a>
        <a target="_blank" href="https://www.maitresrestaurateurs.fr/">
          <%= image_tag("maitre-restaurateur-logo.jpg", :style=>"width=15", alt: "Maitre Restaurateur Logo") %>
        </a>
        <a target="_blank" href="http://www.parc-monts-ardeche.fr/">
          <%= image_tag("parc-mont-ardeche-logo.png", :style=>"width=15", alt: "Parc Mont Ardèche Logo") %>
        </a>
        <a target="_blank" href="https://lestoquesdardeche.fr/">
          <%= image_tag("toques-ardeche-logo.jpg", :style=>"width=150px", alt: "Toqués Arcdèche Logo") %>
        </a>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">Photos : Cédric Prat | © 2018 Copyright :
    <span>Auberge Chanéac</span>
    | <a target="_blank" href="https://www.kareho.fr/">Recrutement</a>
  </div>
</footer>
