<div class="wrapper">
  <div class="photo_content">
      <div class="item">
        <%= image_tag("brochette-truite.jpg") %>
      </div>
      <div class="item">
        <%= image_tag("chataignier.jpg") %>
      </div>
      <div class="item">
        <%= image_tag("confiture-fraise.jpg") %>
      </div>
      <div class="item">
        <%= image_tag("foie-gras-myrtilles.jpg") %>
      </div>
      <div class="item">
        <%= image_tag("preparation-maoche.jpg") %>
      </div>
      <div class="item">
        <%= image_tag("charcuterie.jpg") %>
      </div>
      <div class="item">
        <%= image_tag("pyramide-legumes.jpg") %>
      </div>
      <div class="item">
        <%= image_tag("fin-gras-sur-arlequin.jpg") %>
      </div>
  </div>
</div>

<div class="review-section">
  <div class="container content text-center">
    <h1>Auberge Chaneac - Auberge en Montage Ardéchoise</h1>
    <blockquote class="blockquote text-center">
      <p class="italic">“ un terroir, une passion, le partage... ”</p>
    </blockquote>
    <div class="blockquote-footer">
      J.F. Chanéac
    </div>
  </div>
</div>
<div class="container home-description">
  <div class="row padded">
    <div class="col-md-6">
      <h2>La table du terroir</h2>
      <p>Située au beau milieu des montagnes ardéchoises, l'Auberge CHANEAC vous offre dans un cadre naturel d'exception une ambiance conviviale et authentique.</p>
      <p>Agréée par l'association «Goûtez l'Ardèche», labellisée marque Parc Naturel des Monts d'Ardèche, la Table du Terroir est aussi référencée dans différents guides comme le Routard ou Lonely Planet.</p>
      <p>Jean-François a obtenu le titre de Maître Restaurateur. Il concocte une cuisine qui allie tradition et innovation.</p>
    </div>
    <div class="col-md-6">
      <%= image_tag("auberge-chaneac-01.jpg") %>
    </div>
  </div>
  <div class="row padded">
    <div class="col-md-6">
      <%= image_tag("montagne-ardechoise.jpg") %>
    </div>
    <div class="col-md-6">
      <h2>La montagne</h2>
      <p>Forte d'un patrimoine naturellement riche, la montagne ardéchoise est avant tout généreuse.</p>
      <p>Elle se métamorphose au gré des saisons... dévoilant une flore dense et variée dès les beaux jours, offrant des paysages épurés et enneigés tout au long de l'hiver.</p>
      <p>Un espace idéal pour les amateurs de grand air et de randonnées.</p>
    </div>
  </div>
  <div class="row padded">
    <div class="col-md-6">
      <h2>Le grand Chanéac</h2>
      <p>Jean-Pierre François Chanéac est un personnage légendaire en Ardèche.</p>
      <p>Riche paysan lors de la révolution française, il s'engagea dans les années 1790 dans la lutte contre la république. </p>
      <p>Véritable «Robin des bois», «Brigand héroïque des Montagnes Ardéchoises», il reste vivant dans les mémoires et il est celui qui a osé défier l'autorité du moment.</p>
    </div>
    <div class="col-md-6 text-center">
      <%= image_tag("jean-francois-chaneac.jpg", :style=>" height=400px") %>
    </div>
  </div>
</div>
